div.common-table-wrapper {
  border: 3px ridge #CCCCCC;
  border-radius: 6px;
  box-shadow: 0px 1px 7px 1px #000000;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

table.common-table {
  display: table;
  border-collapse: separate;
  width: 100%;
  border-radius: 10px;
}

/* TABLE SCROLL: <table class='common-table common-table-scroll'> to implement scrolling */
table.common-table-scroll {
  height: 100%;
  padding-bottom: 37px;
}

/* TABLE SCROLL: <thead class='scroll'> & <tbody class='scrol' to implement scrolling with header in place */
table.common-table thead.scroll, table.common-table tbody.scroll {
  display: block;
  width: 100%;
}

table.common-table thead, table.common-table tbody {
  width: 100%;
}

table.common-table thead {
  /*position: sticky;*/
  /*top: 0;*/
  border-bottom: 2px ridge #333333;
  box-shadow: 0px 0px 10px 2px #222222;
}

table.common-table tbody {
  height: 100%;
  overflow-y: scroll;
}

table.common-table td, table.common-table th {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

table.common-table th {
  /*position: sticky;
  top: 0;*/
}

table.common-table tr {
  /*display: table;*/
  table-layout: fixed;
}

table.common-table tr:nth-child(even) {
  background-color: #333333;
}

table.common-table tr:hover {
  background-color: #bbb;
}

table.common-table th {
  font-family: Calibri;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  /*background-color: #4CAF50;*/
  background: linear-gradient(to bottom, #333333, #222222);
  color: #ffffaa;
}
