html *
{
   font-size: 1em;
   color: #FFF;
   font-family: Consolas;
}

body.body {
  /*background-color: #555555;/*#454545*/;
  /*background: linear-gradient(#555555, #999999);*/
  background: radial-gradient(circle, #555555, #777777);
  margin:0px;
}

.heading {
  color: #FFFF00;
  font-weight: bold;
}

.heading-sub {
  color: #CCCCCC;
}

input {
  padding: 4px 6px 4px 6px;
  /*margin: 4px 0px 8px 0px;*/
  box-sizing: border-box;
  border: 1px solid #DDD;
  border-radius: 4px;
  background-color: #222222;
  box-shadow: 0 0 2px 2px #222222;
}

input:disabled {
  background-color: #777777;
  border: 1px solid #999;
  color: #999999;
}

input.amount-input {
  width:60px;
  text-align:center;
  padding: 4px 6px 4px 6px;
}

input.amount-input-small {
  width:60px;
  text-align:center;
  padding: 1px 6px 1px 6px;
}

input[type=number] {
  box-sizing: border-box;
  background-color: #222222;
}

input[type=datetime-local] {
  padding: 3px 6px 3px 6px;
  margin: 3px 0px 8px 0px;
  box-sizing: border-box;
  border: 1px solid #DDD;
  border-radius: 4px;
  background-color: #222222;
}

input[type=datetime-local]:disabled {
  background-color: #333333;
  border: 1px solid #777;
  color: #999999;
  box-shadow: 0 0 2px 2px #333333
}

input[type=number]:disabled {
  background-color: #333333;                                                                                                                                                  border: 1px solid #777;
  color: #999999;
  box-shadow: 0 0 2px 2px #333333                                                                                                                                           }

input[list]
{
  padding: 4px 6px 4px 6px;
  margin: 4px 0;
  box-sizing: border-box; margin-left:auto; 
  background: #222222;
}

input:focus, select:focus {
  outline: 0px;
  box-shadow: 0 0 2px 2px #222222;
  border: 1px solid #ffff99;
}

select {
  padding: 3px 4px 3px 4px;
  margin: 3px 3px 8px 0px;
  box-sizing: border-box;
  border: 1px solid #DDD;
  border-radius: 4px;
  background-color: #222222;
  box-shadow: 0 0 2px 2px #222222;
}

select.pick-option {
    color: #888;
}
option.pick-option {
    color: #000;
}
option.pick-option:first-child {
    color: #888;
}

div.container-wrapper {
  left: 0px;
  right: 0px;
  height: 100%;
  margin: 0px;
  padding: 8px;
}

div.container-left {
  padding: 15px 15px 15px 15px;
  border: 3px solid #EEEEEE;
  border-radius: 8px;
  width: 830px;
  min-height: 420px;
  float:left;
  display:block;
  margin-right:9px;
  background-color: #454545;
}

div.container-right {
  padding: 10px 10px 10px 10px;
  border: 3px solid #EEEEEE;
  border-radius: 8px;
  float:left;
  display:block;
  width:330px;
  background-color: #454545;
}

.button {
  background-color: #4CAF50; /* Green */
  border: 2px solid #0;
  color: white;
  padding: 10px;
  min-width: 139px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  margin: 0px;
  cursor: pointer;
  text-shadow: 1px 1px #666666;
}

.button-green {background-color: #4CAF50;} /* Green */
.button-blue {background-color: #008CBA;} /* Blue */
.button-red {background-color: #f44336;} /* Red */ 
.button-gray {background-color: #555555;} /* Gray */ 
.button-black {background-color: #222222;} /* Black */

button.commit-transaction-button {
  background-color: #06C258; /* Green */
  border: 2px solid #0;
  color: white;
  text-shadow: 1px 1px #666666;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  height: 45px;
}

button.commit-transaction-button:disabled {
  background-color: #333333;
  color: #555555;
  text-shadow: 1px 1px #222222;
  cursor: default;
}

button.commit-transaction-button:hover:enabled {
  background-color: #4CAF50;
}

button.home-button {
  background-color: #06C258; /* Green */
  border: 2px solid #0;
  color: white;
  text-shadow: 1px 1px #666666;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  width: 120px;
  height: 120px;
}

button.home-button:disabled {
  background-color: #333333;
  color: #555555;
  text-shadow: 1px 1px #222222;
  cursor: default;
}

button.home-button:hover:enabled {
  background-color: #4CAF50;
}

.icon-service {
  background-image: url("../imgs/icon-service.png");
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

div.checkbox-container {
  left:0px;
  right:0px;
  height:28px;
  margin-bottom:5px;
  margin-top:5px;
  border:0px solid #222222;
  background-color:#333333;
  border-radius:5px;
  padding-left:5px;
  padding-top:7px;
  text-shadow: 1px 1px #222222;
}

/* The checkbox-container */
label.checkbox-container {
  display: block;
  position: relative;
  left: 2px;
  width: 85%;
  padding-top: 1px;
  padding-left: 31px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  color: #CCCCCC;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
div.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
span.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #eee;
  border: 2px solid #006400;
  border-radius:3px;
  box-shadow: 0 0 1px 2px #CCCCCC;
}

/* On mouse-over, add a grey background color */
div.checkbox-container:hover input ~ .checkmark {
  background-color: #BBBBBB;
}

/* When the checkbox is checked, add a green background */
div.checkbox-container input:checked ~ .checkmark {
  background-color: #4CAF50;
  border: 2px solid #006400;
}

/* Create the checkmark/indicator (hidden when not checked) */
span.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}



/* Show the checkmark when checked */
div.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

div.checkbox-container input:focus {
  border: 1px solid #FFFF99;
}

/* Style the checkmark/indicator */
div.checkbox-container span.checkmark:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 9px;
  border: 1px solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

button:focus {
  outline: none;
  box-shadow: 0 0 2px 2px #222222;
}

hr.division {
  width: 100%;
  border-color: #555555;
}

label.drop-shadow {
  color: #FFFFFF;
  text-shadow: 1px 1px #222222;
}

label.standard-label {
  color: #999999;
  text-shadow: 1px 1px #333333;
}

label.profit {
  color: #00FF00;
}

.help-block {
  color: #ff3333;
  text-shadow: 1px 1px #222222;
  background-color: #000000;
}

a:link {
  color: #FFFFFF;
  text-decoration: none;
}

a:visited {
  color: #FFFFFF;
}

a:hover {
  color: #FFFF00;
  background:0;
}

a:active {
}
