html {
  /*border-top: 5px double #CCCCCC;*/
}

body.body {
  background: radial-gradient(circle at top left, #444, #555);
}

div.store-heading {
  display: none;
}

div.container-wrapper {
  padding: 0px;
  padding-top: 4px;
}

div.container-left {
  width:100%;
  padding: 12px;
  border: 0;
  border-radius: 0px;
  box-shadow: none; 
  min-height: 10px;
  margin-bottom: 0px;
  background: none;
  background-color: none;
}

div.container-right {
  padding: 12px;
  padding-top: 5px;
  border: 0;
  border-radius: 0px;
  max-width: 380px;
  box-shadow: none;
  background: none;
  background-color: none;
  margin-bottom: 0px;
}
