html {
  /*border-top: 5px double #CCCCCC;*/
}

body.body {
  background: radial-gradient(circle at top left, #444, #555);
}

div.store-heading {
  display: none;
}

div.container-wrapper {
  height: calc(100% - 6px);
  max-height: none;
  display: block;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

div.container-left {
  max-height: none;
  overflow-x: hidden;
  overflow-y: visible;
  padding: 12px;
  margin: 0px;
  border: 0;
  border-radius: 0px;
  box-shadow: none; 
  min-height: 10px;
  background: none;
  background-color: none;
}

div.container-left-mobile {
  overflow-y: visible;
  padding: 12px;
}

div.container-right {
  max-height: none;
  padding: 12px;
  padding-top: 5px;
  border: 0;
  border-radius: 0px;
  max-width: 380px;
  box-shadow: none;
  background: none;
  background-color: none;
  margin-bottom: 0px;
  overflow-y: visible !important;
}
