/* Navbar container */
.navbar {
  overflow: hidden;
  background: linear-gradient(#111111, #333333);
  background: repeating-linear-gradient(
  -55deg,
  #222222,
  #222222 10px,
  #272727 10px,
  #272727 20px
);
  border-bottom: 4px double #CCCCCC;
  border-top: 4px double #CCCCCC;
  box-shadow: 0px 1px 2px 1px #333333;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  text-align: center;
  padding: 11px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 11px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  border-right: 2px ridge #333333;
}

.navbar .menu-btn {
  font-weight: bold;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px #000000;
  border-right: 2px ridge #333333;
}

.navbar a:hover, .dropbtn:hover {
  color: #FFFFFF;
  background: linear-gradient(#4CAF50, darkgreen);
}

.dropdown:hover {
  color: #FFFFFF;
  background: linear-gradient(#666,#222);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  opacity: 0.97;
  filter: alpha(opacity=97); /* For IE8 and earlier */ 
  background: linear-gradient(#ddd, #999);
  min-width: 160px;
  box-shadow: 4px 8px 20px 0px #000;
  z-index: 1;
  border: 0px double white;
  border-bottom-width: 2px;
  border-right-width: 2px;
  border-left-width: 2px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
